<table class="table table-info table-borderless container mt-5">
    <thead>
    <tr>
      <th scope="col">Student Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student College</th>
      <th scope="col">Student Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentArr">
      <td>{{student.studentId}}</td>
      <td>{{student.studentName}}</td>
      <td>{{student.studentCollege}}</td>
      <td>{{student.studentPercentage}}</td>
    </tr>
   
  </tbody>
  </table>

  
