<div class="container">
    <form   (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" >Enter your Student Id</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="studentId"
          ngModel
        />
      </div>
     
      
      <button type="submit" class="btn btn-primary">Delete Student</button>
    </form>

    <h2>{{message}}</h2>
  </div>
  
